<%- include('./partials/header.ejs')%>

<div class="content">
	<h1 class="opener">Sarah O'Dell</h1>
	<h2>Full-Stack Software Engineer</h2>
	<h4>Here to 'develop' your dreams into reality.</h4>





























<%- include('./partials/footer.ejs')%>